# Plantilla
# Copia este archivo a .env y asigna tus propias credenciales seguras.
POSTGRES_USER=usuario_local
POSTGRES_PASSWORD=contrasena_local_segura
POSTGRES_DB=resctpet_db

# OpenProject integration
OPENPROJECT_DEFAULT_INSTANCE=sursoftware
OPENPROJECT_INSTANCES=sursoftware

OPENPROJECT_INSTANCE_SURSOFTWARE_URL=https://openproject.sursoftware.dyndns.org
OPENPROJECT_INSTANCE_SURSOFTWARE_TIMEOUT_SECONDS=30
OPENPROJECT_INSTANCE_SURSOFTWARE_VERIFY_SSL=true
OPENPROJECT_INSTANCE_SURSOFTWARE_API_TOKEN=TU_API_TOKEN_AQUI
